<!-- _includes/footer.html -->
<footer class="bg-dark text-light text-center py-3 px-3 small" style="max-width:780px; margin:0 auto;">
  <p class="mb-1">
    {{ site.address }}<br>
    Voice: {{ site.phone_primary }} &bull; {{ site.phone_tollfree }} &bull;
    Fax: {{ site.fax }} &bull;
    e-mail: <a href="mailto:{{ site.email }}" class="text-info">{{ site.email }}</a>
  </p>
  <p class="mb-1 text-warning"><strong>{{ site.disclaimer }}</strong></p>
  <p class="mb-2">
    Bernstein Investor Network: <a href="http://www.2Chimps.com" class="text-info">2Chimps.com</a> &bull;
    Online Investor Programs: <a href="http://www.seasonaltrader.com" class="text-info">HOST SeasonalTrader</a> |
    <a href="http://www.patternsforprofit.com" class="text-info">Patterns For Profit</a>
  </p>
  <a href="{{ site.twitter }}">
    <img src="http://www.trade-futures.com/images/twitter_logo.png" alt="Follow Me on Twitter" style="width:32px; vertical-align:middle;">
  </a>
  <a href="{{ site.twitter }}" class="text-info ms-1">Follow Jake on Twitter</a>
</footer>
