<!-- _includes/nav.html -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="max-width:780px; margin:0 auto;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav">
        {% for item in site.data.nav.main %}
          {% if item.children %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ item.url }}" data-bs-toggle="dropdown">{{ item.name }}</a>
            <ul class="dropdown-menu">
              {% for child in item.children %}
              <li><a class="dropdown-item" href="{{ child.url }}">{{ child.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
